In [1]:
# coding:utf-8

import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('act.csv')
# 删除第 1 列
df.drop(df.columns[0],inplace=True,axis=1)
df.head()

,user_id,sku_id,type,typeN,type#1,type#2,type#3,type#4,type#5,type#6
0,10823,111391,1,2,2.0,0.0,0.0,0.0,0.0,0.0
1,11946,150332,6,8,0.0,0.0,0.0,0.0,0.0,8.0
2,13161,20719,6,10,0.0,0.0,0.0,0.0,0.0,10.0
3,15154,157137,6,2,0.0,0.0,0.0,0.0,0.0,2.0
4,16067,128988,6,4,0.0,0.0,0.0,0.0,0.0,4.0

In [3]:
df.shape

(1587006, 10)

In [16]:
dt = df[ (df['type#3']<1)][(df['type#4']<1)]
dt.shape

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

(1531677, 10)

In [17]:
# 加入购物车的东西
userBuy = dt[dt['type#2']>0]
userBuy.shape

(75849, 10)

In [18]:
userBuy[['user_id','sku_id']].to_csv('sub.csv',index=None)

In [20]:
sd = userBuy[['user_id','sku_id']].groupby('user_id')['sku_id'].agg(np.min).reset_index()
print sd.shape
sd.head()

(25777, 2)

   user_id  sku_id
0        6   12772
1       18   94944
2       20   63006
3       24  145946
4       26   51429

In [21]:
sd.to_csv('sub.csv',index=None)

In [22]:
#  没有加入购物车，但是浏览次数很多
ad = dt[dt['type#2']<1]
ad.shape

(1455828, 10)

In [23]:
ad = ad[ad['type#6']>10]
ad.shape

(36814, 10)

In [24]:
aa = ad[['user_id','sku_id']].groupby('user_id')['sku_id'].agg(np.min).reset_index()
print aa.shape
aa.head()

(15853, 2)

   user_id  sku_id
0       20   63006
1       22  160476
2       26  127896
3       42   20719
4       64   45669

In [26]:
dd = pd.concat([sd,aa],axis=0)
print dd.shape
dd.head()

(41630, 2)

   user_id  sku_id
0        6   12772
1       18   94944
2       20   63006
3       24  145946
4       26   51429

In [28]:
dd = dd.groupby('user_id')['sku_id'].agg(np.min).reset_index()
dd.shape

(29522, 2)

In [29]:
dd.to_csv('sub.csv',index=None)