In [1]:
from pyspark import SparkContext,SparkConf
from pyspark.sql import SQLContext
from pyspark.sql.types import *

import os
os.environ["SPARK_HOME"] = "/home/hadoop/spark-2.0.1-bin-hadoop2.7"   #KeyError: 'SPARK_HOME'
conf = SparkConf()
conf.setMaster('spark://192.168.1.116:7077')
sc=SparkContext(appName='JD',conf=conf)
sqlContext = SQLContext(sc)

In [31]:
dfaction = sqlContext.read.format('com.databricks.spark.csv').options(header='true',charset = "GBK").load('file:///home/hadoop/PycharmProjects/JD-Go/data/JData_Action_201603.csv')
dfaction.show(5)

+-------+------+-------------------+--------+----+----+-----+
|user_id|sku_id|               time|model_id|type|cate|brand|
+-------+------+-------------------+--------+----+----+-----+
|  70062|168043|2016-03-01 03:23:13|    null|   6|   6|  269|
|  70062|168043|2016-03-01 03:28:48|    null|   6|   6|  269|
|  70062|168043|2016-03-01 09:48:13|    null|   6|   6|  269|
|  70062|168043|2016-03-01 09:48:31|    null|   6|   6|  269|
|  70062|168043|2016-03-01 03:28:48|    null|   6|   6|  269|
+-------+------+-------------------+--------+----+----+-----+
only showing top 5 rows

In [43]:
df = dfaction.withColumn("time", dfaction["time"].cast(TimestampType()))
df.show(5)

+-------+------+--------------------+--------+----+----+-----+
|user_id|sku_id|                time|model_id|type|cate|brand|
+-------+------+--------------------+--------+----+----+-----+
|  70062|168043|2016-03-01 03:23:...|    null|   6|   6|  269|
|  70062|168043|2016-03-01 03:28:...|    null|   6|   6|  269|
|  70062|168043|2016-03-01 09:48:...|    null|   6|   6|  269|
|  70062|168043|2016-03-01 09:48:...|    null|   6|   6|  269|
|  70062|168043|2016-03-01 03:28:...|    null|   6|   6|  269|
+-------+------+--------------------+--------+----+----+-----+
only showing top 5 rows

In [44]:
from pyspark.sql import functions
df = df.withColumn('count', functions.lit(1))

In [47]:
dt = df.groupby(['user_id','sku_id','type']).agg({'count':'sum','time':'max'})
dt.show(5)

+-------+------+----+----------+--------------------+
|user_id|sku_id|type|sum(count)|           max(time)|
+-------+------+----+----------+--------------------+
|  31447| 62476|   6|         1|2016-03-01 11:06:...|
|  32400|140412|   6|         7|2016-03-01 11:11:...|
|  24092| 22962|   6|         5|2016-03-01 22:11:...|
|  94947| 50225|   6|         2|2016-03-01 15:51:...|
|  60530| 81163|   6|         2|2016-03-01 06:32:...|
+-------+------+----+----------+--------------------+
only showing top 5 rows

In [55]:
dt.show(5)

+-------+------+----+----------+--------------------+
|user_id|sku_id|type|sum(count)|           max(time)|
+-------+------+----+----------+--------------------+
|  31447| 62476|   6|         1|2016-03-01 11:06:...|
|  32400|140412|   6|         7|2016-03-01 11:11:...|
|  24092| 22962|   6|         5|2016-03-01 22:11:...|
|  94947| 50225|   6|         2|2016-03-01 15:51:...|
|  60530| 81163|   6|         2|2016-03-01 06:32:...|
+-------+------+----+----------+--------------------+
only showing top 5 rows

In [65]:
ddt = dt
for i in range(1,7):
    ddt= ddt.withColumn("type#"+str(i), functions.lit(0))
    ddt= ddt.withColumn("typetime#"+str(i), functions.lit(0))
ddt.show(5)

+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type|sum(count)|           max(time)|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  31447| 62476|   6|         1|2016-03-01 11:06:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  32400|140412|   6|         7|2016-03-01 11:11:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  24092| 22962|   6|         5|2016-03-01 22:11:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  94947| 50225|   6|         2|2016-03-01 15:51:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  60530| 81163|   6|         2|2016-03-01 06:32:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [85]:
ddt.show(5)

+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type|sum(count)|           max(time)|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  31447| 62476|   6|         1|2016-03-01 11:06:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  32400|140412|   6|         7|2016-03-01 11:11:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  24092| 22962|   6|         5|2016-03-01 22:11:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  94947| 50225|   6|         2|2016-03-01 15:51:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  60530| 81163|   6|         2|2016-03-01 06:32:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [91]:
ddt.filter(ddt.type==2).show(5)

+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type|sum(count)|           max(time)|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  35232| 66131|   2|         1|2016-03-01 18:51:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
| 100659| 39695|   2|         1|2016-03-01 20:58:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  94323|  6866|   2|         1|2016-03-01 07:24:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  53153|165594|   2|         2|2016-03-01 19:56:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  28794| 37427|   2|         1|2016-03-01 02:31:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [98]:
ddt.show(5)

+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type|sum(count)|           max(time)|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  31447| 62476|   6|         1|2016-03-01 11:06:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  32400|140412|   6|         7|2016-03-01 11:11:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  24092| 22962|   6|         5|2016-03-01 22:11:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  94947| 50225|   6|         2|2016-03-01 15:51:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  60530| 81163|   6|         2|2016-03-01 06:32:...|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [176]:
from pyspark.sql.functions import UserDefinedFunction
from pyspark.sql.functions import udf

#print f(ddt['type'],ddt['sum(count)'])
ad = ddt
for i in range(1,7):
    def func(x,y):
        if int(x)==i:
            return float(y)
        else:
            return float(0)

    f = udf(func ,DoubleType())
    ad = ad.withColumn("type#"+str(i), f('type','sum(count)'))

ad.show(5)

+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type|sum(count)|           max(time)|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  31447| 62476|   6|         1|2016-03-01 11:06:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   1.0|         0|
|  32400|140412|   6|         7|2016-03-01 11:11:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   7.0|         0|
|  24092| 22962|   6|         5|2016-03-01 22:11:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   5.0|         0|
|  94947| 50225|   6|         2|2016-03-01 15:51:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   2.0|         0|
|  60530| 81163|   6|         2|2016-03-01 06:32:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   2.0|         0|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [186]:
ad = ad.withColumnRenamed('max(time)', 'time')
ad.show(5)

+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type|sum(count)|                time|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  31447| 62476|   6|         1|2016-03-01 11:06:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   1.0|         0|
|  32400|140412|   6|         7|2016-03-01 11:11:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   7.0|         0|
|  24092| 22962|   6|         5|2016-03-01 22:11:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   5.0|         0|
|  94947| 50225|   6|         2|2016-03-01 15:51:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   2.0|         0|
|  60530| 81163|   6|         2|2016-03-01 06:32:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   2.0|         0|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [199]:
import datetime
now = datetime.datetime(2016,3,1,5,0,0)
aaa = ad.filter(ad.time<now)
aaa.show(5)

+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type|sum(count)|                time|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  61571| 68686|   6|         2|2016-03-01 03:23:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   2.0|         0|
|  57679| 39695|   1|         4|2016-03-01 00:13:...|   4.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|
|  45517| 90761|   1|         2|2016-03-01 00:02:...|   2.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|
|  61373| 90621|   6|         2|2016-03-01 00:30:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   2.0|         0|
|  95623| 72031|   6|         2|2016-03-01 00:00:...|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   0.0|         0|   2.0|         0|
+-------+------+----+----------+--------------------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [179]:
ad.write.csv('mycsv.csv')

In [57]:
dd = dt[['user_id','sku_id']]
from pyspark.sql.functions import UserDefinedFunction
for i in range(1,7):
    dd= dd.withColumn("type#"+str(i), functions.lit(0))
    dd= dd.withColumn("typetime#"+str(i), functions.lit(0))
dd.show(5)

+-------+------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|user_id|sku_id|type#1|typetime#1|type#2|typetime#2|type#3|typetime#3|type#4|typetime#4|type#5|typetime#5|type#6|typetime#6|
+-------+------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
|  31447| 62476|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  32400|140412|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  24092| 22962|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  94947| 50225|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
|  60530| 81163|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|     0|         0|
+-------+------+------+----------+------+----------+------+----------+------+----------+------+----------+------+----------+
only showing top 5 rows

In [33]:
df.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- sku_id: string (nullable = true)
 |-- time: timestamp (nullable = true)
 |-- model_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- cate: string (nullable = true)
 |-- brand: string (nullable = true)

In [28]:
dfaction = dfaction.withColumn("time", dfaction["time"].cast(DateType()))

In [29]:
dfaction.printSchema()

root
 |-- user_id: string (nullable = true)
 |-- sku_id: string (nullable = true)
 |-- time: date (nullable = true)
 |-- model_id: string (nullable = true)
 |-- type: string (nullable = true)
 |-- cate: string (nullable = true)
 |-- brand: string (nullable = true)

In [30]:
dfaction.show(5)

+-------+------+----------+--------+----+----+-----+
|user_id|sku_id|      time|model_id|type|cate|brand|
+-------+------+----------+--------+----+----+-----+
|  70062|168043|2016-03-01|    null|   6|   6|  269|
|  70062|168043|2016-03-01|    null|   6|   6|  269|
|  70062|168043|2016-03-01|    null|   6|   6|  269|
|  70062|168043|2016-03-01|    null|   6|   6|  269|
|  70062|168043|2016-03-01|    null|   6|   6|  269|
+-------+------+----------+--------+----+----+-----+
only showing top 5 rows