In [4]:
# coding:utf-8
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
import os
import matplotlib.pyplot as plt

In [2]:
os.getcwd()

'/home/hadoop/PycharmProjects/JDContest/src-py/feature-engine'

In [11]:
# 用户数据
"""
 user_id      用户ID 脱敏
 age          年龄段 -1表示未知
 sex          性别 0表示男，1表示女，2表示保密
 user_lv_cd   用户等级 有顺序的级别枚举，越高级别数字越大
 user_reg_dt  用户注册日期 粒度到天

"""
df = pd.read_csv('../../data/JData_User.csv',encoding='gbk')
print df.shape
df.head()

(103616, 5)

   user_id     age  sex  user_lv_cd user_reg_dt
0       54      -1    2           1   2016/1/26
1       79  36-45岁    2           2   2016/1/27
2      100  16-25岁    2           3   2016/1/27
3      266   15岁以下    2           2   2016/1/29
4      333      -1    2           4   2016/1/30

In [10]:
# 商品数据
"""
 sku_id 商品编号 脱敏
 attr1 属性1 枚举，-1表示未知
 attr2 属性2 枚举，-1表示未知
 attr3 属性3 枚举，-1表示未知
 cate  品类ID 脱敏
 brand 品牌ID 脱敏
"""
df = pd.read_csv('../../data/JData_Product.csv',encoding='gbk')
print df.shape
df.head()

(24187, 6)

   sku_id  attr1  attr2  attr3  cate  brand
0  166731      1     -1     -1     8    545
1  146488      2      2     -1     8    812
2   70546      3      1      1     8    214
3   92487      2      2     -1     8    812
4  113065      2      2     -1     8    812

In [12]:
# 评价数据
"""
 dt               截止到时间 粒度到天
 sku_id           商品编号 脱敏
 comment_num      累计评论数分段 0表示无评论，1表示有1条评论，
                               2表示有2-10条评论，
                               3表示有11-50条评论，
                               4表示大于50条评论
 has_bad_comment  是否有差评 0表示无，1表示有
 bad_comment_rate 差评率 差评数占总评论数的比重
"""
df = pd.read_csv('../../data/JData_Comment(修正版).csv',encoding='gbk')
print df.shape
df.head()

(558552, 5)

           dt  sku_id  comment_num  has_bad_comment  bad_comment_rate
0  2016-02-01   83714            4                1            0.0393
1  2016-02-01  125225            3                1            0.0833
2  2016-02-01   76379            4                1            0.0328
3  2016-02-01  150212            1                0            0.0000
4  2016-02-01  123004            2                0            0.0000

In [14]:
# 行为数据
"""
 user_id         用户编号 脱敏
 sku_id          商品编号 脱敏
 time            行为时间 
 model_id        点击模块编号，如果是点击 脱敏
 type            1.浏览（指浏览商品详情页）；2.加入购物车；3.购物车删除；4.下单；5.关注；6.点击
 cate            品类ID 脱敏
 brand           品牌ID 脱敏
"""
df = pd.read_csv('../../data/JData_Action_201602.csv',encoding='gbk')
print df.shape
df.head()

(18117303, 7)

   user_id  sku_id                 time  model_id  type  cate  brand
0    27630   37957  2016-02-01 07:43:14       NaN     6     8    489
1    65377  165713  2016-02-01 11:09:34       NaN     6     5    124
2    10396   65823  2016-02-01 08:20:59       NaN     6     6     78
3    65377  165713  2016-02-01 11:09:34       NaN     6     5    124
4    10396   65823  2016-02-01 08:20:56       NaN     6     6     78